/* =============
   Basic SETUP
================*/

*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
}
ul li {
  list-style-type: none;
}
/* =============
Reusable Component
================*/
.row {
  max-width: 114rem;
  margin: 0 auto;
}
section{
  padding: 6rem 0rem;

}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
  height: 0rem;
  visibility: hidden;
}
/* =============
   Header
================*/
header{
  background:linear-gradient(rgb(135, 80, 156,.9),rgb(135, 80, 156,.9)) ,url(img/back-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  position: relative;
}
/* =============
   Heading
================*/
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: .3rem;
}
h2::after {
  content: "";
  display: block;
  height: .5rem;
  width: .6rem;
  margin: auto;
  color: #fff;

}
hr{
  color: #fff;
  width: 18rem;
  margin: auto;
  margin-top: 1rem;
}
.hero-text-box h3{
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.logo {
  margin-top: 1.5rem;
  font-size: 3.5rem;
  color:#fff;
  font-family: sans-serif;
  float: left;
}

/*===Main nav===#87509c*/
.main-nav {
  float: right;
  margin-top: 2rem;
}
.main-nav li {
  display: inline-block;
  margin-left: 1.5rem;
}
.main-nav li:first-child{
  margin-left: 0rem;
}
.main-nav li a:link,
.main-nav li a:visited{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  /*background: #643a79;*/
  padding: .3rem 1rem;
  border-radius: .3rem;
  display: inline-block;
  font-size: 1.6rem;
  transition: .3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
  background: #643a79;
}
.active{
  background: #643a79;
  border-radius: .3rem;
}
.hero-text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  text-align: center;
}
/* =============
   About Section
================*/
.about-section{
  color: #fff;
  background:linear-gradient(rgb(23, 193, 164,.7),rgb(23, 193, 164,.7)) ,url(img/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 background-attachment:fixed;
 }
.about-section h2{
color: #fff;
font-size:3rem;
}
.about-section p {
color: #fff;
font-size: 1.6rem
}
.my-image {
	text-align:center;
	height: 25rem;
	width: 25rem;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
	border-radius: 50%;
	margin-left: 15.5rem;
	border-style: outset;
	overflow:hidden;
}
.box h3 {
	margin-top: 1.5rem;
	font-size: 3.1rem;
}
.box p {
	font-size: 1.8rem;
	color: #BABABA;
	text-align: justify;
	margin-right: 5rem;
	padding-top: 1.5rem;
}

/* =============
   About Section
================*/
.social-icon {
	padding-top: 5rem;
	margin-left: 19rem;
}
.social-icon ul li{
  display: inline-block;
  margin: 0 .5rem;
}
.social-icon ul li a:link{
  color: #fff;
}
.social-icon ul li a:link i::before {
background: #bdffa6;
height:2rem;
width: 2rem;
border-radius: 50%;
font-size: 2rem;
display: inline;
padding: 1rem;
display:inline-block;
transition:.5s;
}
.social-icon ul li a:hover i::before {
background: #17c2f4;
transform: rotate(360deg);
}
/* =============
   Contact Section
================*/
.contact-section{
  color: black;
  background:red;
  height: 55vh;
  position: relative;
